.navbar {
    background-color: #03A9F4;
}

.historia {
    background-color: #8181F7

}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.conteudo {
    background-color: grey;
    
}

.bg-footer {
    background-color: black;
    color: white;
}